@import "svelte-materialify/src/styles/variables";

$table-regular-header-font-size: map-deep-get($headings, 'subtitle-2', 'size') !default;
$table-regular-row-font-size: map-deep-get($headings, 'subtitle-2', 'size') !default;

/* Grid Styles */
:root {
  --col-count: 20;
  --row-count: 14;
  --cell-size: 32px;
}

.trackerGrid__viewport {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "header body";
  // height: 100%;
  height: 250px;
  overflow: auto;
  border: thin solid var(--theme-dividers);
}

.trackerGrid__tableCol--headers {
  grid-area: header;
  display: grid;
}

.trackerGrid__data {
  grid-area: body;
  display: grid;
}

.trackerGrid__rowHighlights {
  display: grid;
  grid-template-rows: calc(var(--cell-size) + 20px);
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.trackerGrid__slider {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 
    minmax(calc(var(--cell-size)/2), .5fr)
    minmax(calc(var(--cell-size)/2), .5fr)
    repeat(calc(var(--col-count) - 2),minmax(var(--cell-size), 1fr))
    minmax(calc(var(--cell-size)/2), .5fr)
    minmax(calc(var(--cell-size)/2), .5fr)
  ;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  top: calc(var(--cell-size) + 3px);
  align-self: start;
  .s-slider {
    grid-column: 2 / -2;
  }
  .s-slider__label:not(.inverse-label) {
    margin-right: 0;
  }
  .s-input__slot {
    margin-bottom: 0;
  }
  .s-slider__target,
  .s-slider__handle {
    cursor: pointer;
  }
}

.trackerGrid__table {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(var(--cell-size), 1fr));
  // grid-template-rows: calc(var(--cell-size) + 20px) repeat(auto-fit, minmax(var(--cell-size), 1fr));
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.trackerGrid__tableCol {
  display: grid;
  grid-template-rows: calc(var(--cell-size) + 20px);
  > div {
    display: grid;
    align-items: center;
    min-height: var(--cell-size);
    line-height: 100%;
    border-bottom: thin solid var(--theme-dividers);
    &:last-child {
      border-bottom: none;
    }
  }
}

.trackerGrid__tableCol--header {
  align-items: end !important;
  font-size: $table-regular-header-font-size;
  font-weight: bold;
  letter-spacing: map-deep-get($headings, 'subtitle-2', 'letter-spacing');
  color: var(--theme-text-secondary);
  padding-bottom: 10px;
}

.trackerGrid__tableCol--name {
  > div {
    font-size: $table-regular-header-font-size;
    letter-spacing: map-deep-get($headings, 'subtitle-2', 'letter-spacing');
    min-width: 80px;
    max-width: 15vw;
    padding: 0 10px;
    text-align: right;
  }
}

.trackerGrid__tableRow {
  grid-column: 1 / -1;
}

.trackerGrid__tableCol,
.trackerGrid__tableRow {
  transition: background-color 0.3s;
  &.active {
    background-color: rgba(0, 140, 203, 0.2);
  }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

/* sticky headers */
.trackerGrid--sticky {
  .trackerGrid__tableCol--header,
  .trackerGrid__tableCol--name {
    background-color: #fff;
    transition: background-color 0.3s;
  }
  .trackerGrid__tableCol--headers {
    position: sticky;
    left: 0;
    border-right: thin solid var(--theme-dividers);
    background-color: #fff;
    z-index: 3;
    
  }
  .trackerGrid__tableCol--header {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .trackerGrid__tableRow--headers {
    position: sticky;
    box-shadow: 6px 4px 6px 0px rgb(0 0 0 / 14%);
    top: 0;
  }
  .trackerGrid__tableCol--name {
    > div {
      transition: background-color 0.3s;
      &:last-child {
        border-bottom: none;
      }
    }
    .active {
      background-color: #D3E8F5; //opaque color
    }
  }
  .active {
    .trackerGrid__tableCol--header {
      background-color: #D3E8F5; //opaque color
    }
  }
  .trackerGrid__slider {
    position: sticky;
  }
}

/* vertical layout (mobile) */
.trackerGrid--vertical {

  .trackerGrid__viewport {
    grid-template-areas:
        "header"
        "body";
    grid-template-rows: auto 1fr;
    grid-template-columns: initial;
  }

  .trackerGrid__table {
    grid-template-columns: initial;
  }

  .trackerGrid__tableCol--headers {
    left: initial;
    top: 0;
    padding: 0;
    align-items: center !important;
    border-right: none;
  }


  .trackerGrid__tableCol--name {
    .trackerGrid__tableCol--header {
      min-width: 0;
      padding: 0;
    }
    > div {
      text-align: left;
      padding: 10px 0;
      min-width: var(--cell-size);
      max-width: initial;
      min-height: 0;
      max-height: 13vh;
      align-items: end;
      justify-items: center;
    }
    .truncate {
      writing-mode: vertical-rl;
      transform: rotate(180deg);
    }
  }
  .trackerGrid__tableCol {
    grid-template-rows: initial;
    grid-template-columns: calc(var(--cell-size) + 20px) repeat(calc(var(--row-count) - 1), 1fr);
    grid-auto-flow: column;
    > div:last-child {
      border-bottom: thin solid var(--theme-dividers);
    }
    &:last-child > div {
      border-bottom: none;
    }
  }

  .trackerGrid__slider {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(calc(var(--cell-size)/2), 0.5fr) minmax(calc(var(--cell-size)/2), 0.5fr) repeat(calc(var(--col-count) - 2), minmax(var(--cell-size), 1fr)) minmax(calc(var(--cell-size)/2), 0.5fr) minmax(calc(var(--cell-size)/2), 0.5fr);
    top: initial;
    left: calc(var(--cell-size) + 18px);
    align-self: initial;
    justify-self: start;
    .s-input__control, .s-slider__target {
      height: 100%;
    }
    .s-slider {
      grid-row: 2 / -2;
      grid-column: initial;
    }
  }
  .trackerGrid__rowHighlights {
    grid-template-rows: initial;
    grid-template-columns: calc(var(--cell-size) + 20px);
    grid-auto-flow: column;
  }

  .trackerGrid__tableRow {
    grid-column: initial;
    grid-row: 1 / -1;
  }


  &.trackerGrid--sticky {
    .trackerGrid__tableRow--headers {
      box-shadow: none;
      top: initial;
      left: 0;
      border-right: none;
    }
    .trackerGrid__tableCol--headers {
      box-shadow: 6px 4px 6px 0px rgba(0,0,0,14%);
    }
    .trackerGrid__tableCol--header {
      top: initial;
      left: 0;
      border-right: thin solid var(--theme-dividers);
    }
  }
}